<tr>
  @if(todo.done) {
    <td>
      <button (click)="toggleStatus()">
          <span class="material-symbols-outlined">
            done
          </span>
      </button>
    </td>
  } @else {
    <td>
      <button (click)="toggleStatus()">
        <span class="material-symbols-outlined">
          close
        </span>
      </button>
    </td>
  }
  <td>
    <app-priority [priority]="todo.priority"></app-priority>
  </td>
  <td>{{todo.id}}</td>
  <td>{{todo.label}}</td>
  <td>{{todo.date | date}}</td>
  <td>{{todo.category?.label}}</td>
  <td>@if(showDeleteButtons){
    <button (click)="deleteTodo(todo.id)">
    <span class="material-symbols-outlined">
          delete
        </span>
    </button>
    }
  </td>
</tr>
